<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-android-intent-extras" version="0.0.14" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.androcordov.com/apk/res/android">
    <name>Intent Extras</name>
    <js-module name="IntentExtras" src="www/IntentExtras.js">
        <clobbers target="intentExtras" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntentExtras" >
                <param name="android-package" value="pl.itexpert.IntentExtras"/>
            </feature>
        </config-file>


        <source-file src="src/android/IntentExtras.java" target-dir="src/pl/itexpert/cordova" />
    </platform>

</plugin>